packages/node-red/examples/call-action.json
[{"id":"5a5a5a5a5a5a5a5a","type":"inject","z":"9621630fc0ca509b","name":"Start Cleaning","props":[{"p":"device","v":"{ \"id\": $env('id'), \"model\": \"roidmi.vacuum.v60\" }","vt":"jsonata"},{"p":"property","v":"start_sweep","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":130,"y":40,"wires":[["7c7c7c7c7c7c7c7c"]]},{"id":"6b6b6b6b6b6b6b6b","type":"inject","z":"9621630fc0ca509b","name":"Stop Cleaning","props":[{"p":"device","v":"{ \"id\": $env('id'), \"model\": \"roidmi.vacuum.v60\" }","vt":"jsonata"},{"p":"property","v":"start_charge","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":130,"y":100,"wires":[["7c7c7c7c7c7c7c7c"]]},{"id":"7c7c7c7c7c7c7c7c","type":"xmihome-device","z":"9621630fc0ca509b","settings":"1f28607896d1a00b","name":"Vacuum Control","device":"device","deviceType":"msg","action":"callAction","property":"property","propertyType":"msg","value":"payload","valueType":"msg","topic":"topic","topicType":"msg","x":360,"y":70,"wires":[["8d8d8d8d8d8d8d8d"],[]]},{"id":"8d8d8d8d8d8d8d8d","type":"debug","z":"9621630fc0ca509b","name":"Action Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":70,"wires":[]},{"id":"35f8397005ea8a9c","type":"inject","z":"9621630fc0ca509b","name":"Get Rooms","props":[{"p":"device","v":"{ \"id\": $env('id'), \"model\": \"roidmi.vacuum.v60\" }","vt":"jsonata"},{"p":"property","v":"getRooms","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":160,"wires":[["ae3863588b92601f"]]},{"id":"ae3863588b92601f","type":"xmihome-device","z":"9621630fc0ca509b","settings":"1f28607896d1a00b","name":"Vacuum Control","device":"device","deviceType":"msg","action":"callMethod","property":"property","propertyType":"msg","value":"","valueType":"str","topic":"topic","topicType":"msg","x":360,"y":160,"wires":[["b3159e6798044d19"],[]]},{"id":"b3159e6798044d19","type":"debug","z":"9621630fc0ca509b","name":"Method Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":160,"wires":[]},{"id":"1f28607896d1a00b","type":"xmihome-config","name":"cloud","debug":false,"connectionType":"cloud"}]