packages/node-red/examples/call-action.json
[{"id":"5a5a5a5a5a5a5a5a","type":"inject","z":"9621630fc0ca509b","name":"Start Cleaning","props":[{"p":"device","v":"{ \"address\": $env('address'), \"token\": $env('token'), \"model\": \"roidmi.vacuum.v60\" }","vt":"jsonata"},{"p":"property","v":"start_sweep","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":130,"y":40,"wires":[["7c7c7c7c7c7c7c7c"]]},{"id":"6b6b6b6b6b6b6b6b","type":"inject","z":"9621630fc0ca509b","name":"Stop Cleaning","props":[{"p":"device","v":"{ \"address\": $env('address'), \"token\": $env('token'), \"model\": \"roidmi.vacuum.v60\" }","vt":"jsonata"},{"p":"property","v":"start_charge","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":130,"y":100,"wires":[["7c7c7c7c7c7c7c7c"]]},{"id":"7c7c7c7c7c7c7c7c","type":"xmihome-device","z":"9621630fc0ca509b","settings":"414299e863f23ccf","name":"Vacuum Control","device":"device","deviceType":"msg","action":"callAction","property":"property","propertyType":"msg","value":"payload","valueType":"msg","topic":"topic","topicType":"msg","x":360,"y":70,"wires":[["8d8d8d8d8d8d8d8d"],[]]},{"id":"8d8d8d8d8d8d8d8d","type":"debug","z":"9621630fc0ca509b","name":"Action Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":70,"wires":[]},{"id":"414299e863f23ccf","type":"xmihome-config","name":"lan","debug":true,"connectionType":"miio"}]