packages/node-red/examples/call-action.json
[{"id":"5a5a5a5a5a5a5a5a","type":"inject","z":"9621630fc0ca509b","name":"Start Cleaning","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"start_sweep","x":130,"y":40,"wires":[["18a21796eeb1c372"]]},{"id":"6b6b6b6b6b6b6b6b","type":"inject","z":"9621630fc0ca509b","name":"Stop Cleaning","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"start_charge","x":130,"y":160,"wires":[["18a21796eeb1c372"]]},{"id":"7c7c7c7c7c7c7c7c","type":"xmihome-device","z":"9621630fc0ca509b","settings":"1f28607896d1a00b","name":"Vacuum Control","device":"device","deviceType":"msg","action":"callAction","property":"property","propertyType":"msg","value":"payload","valueType":"msg","topic":"topic","topicType":"msg","x":580,"y":80,"wires":[["8d8d8d8d8d8d8d8d"],[]]},{"id":"8d8d8d8d8d8d8d8d","type":"debug","z":"9621630fc0ca509b","name":"Action Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":40,"wires":[]},{"id":"35f8397005ea8a9c","type":"inject","z":"9621630fc0ca509b","name":"Get Rooms","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"getRooms","x":130,"y":220,"wires":[["18a21796eeb1c372"]]},{"id":"ae3863588b92601f","type":"xmihome-device","z":"9621630fc0ca509b","settings":"1f28607896d1a00b","name":"Vacuum Control","device":"device","deviceType":"msg","action":"callMethod","property":"getRooms","propertyType":"str","value":"","valueType":"str","topic":"topic","topicType":"msg","x":380,"y":180,"wires":[["e4edaf6e6c5532f5"],[]]},{"id":"b3159e6798044d19","type":"debug","z":"9621630fc0ca509b","name":"Method Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":200,"wires":[]},{"id":"ba0abda13915c751","type":"inject","z":"9621630fc0ca509b","name":"Start Room Cleaning","props":[{"p":"room","v":"[\"Кухня\"]","vt":"json"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"start_room_sweep","x":150,"y":100,"wires":[["18a21796eeb1c372"]]},{"id":"18a21796eeb1c372","type":"change","z":"9621630fc0ca509b","name":"device","rules":[{"t":"set","p":"device","pt":"msg","to":"{ \"id\": $env('id'), \"model\": \"roidmi.vacuum.v60\" }","tot":"jsonata"},{"t":"set","p":"property","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":80,"wires":[["dccc30ce51695a70"]]},{"id":"dccc30ce51695a70","type":"switch","z":"9621630fc0ca509b","name":"topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"start_sweep","vt":"str"},{"t":"eq","v":"start_charge","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":370,"y":120,"wires":[["7c7c7c7c7c7c7c7c"],["7c7c7c7c7c7c7c7c"],["ae3863588b92601f"]]},{"id":"e4edaf6e6c5532f5","type":"switch","z":"9621630fc0ca509b","name":"if start_room_sweep","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"start_room_sweep","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":160,"wires":[["3e7879e64ff2ed8d"],["b3159e6798044d19"]]},{"id":"3e7879e64ff2ed8d","type":"function","z":"9621630fc0ca509b","name":"room","func":"const mapId = msg.payload.mapId;\nconst segmentId = msg.payload.segments\n    .filter(({ name }) => msg.room.includes(name))\n    .map(({ id }) => id);\n\nconst payload = { mapId, segmentId };\n\nmsg.payload = [2, JSON.stringify(payload)];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":120,"wires":[["7c7c7c7c7c7c7c7c"]]},{"id":"1f28607896d1a00b","type":"xmihome-config","name":"cloud","debug":false,"connectionType":"cloud"}]