packages/node-red/examples/device-time-sync.json
[{"id":"07ebc5cfcb671264","type":"inject","z":"a0f780b0c35f4187","name":"","props":[{"p":"device.mac","v":"mac","vt":"env"},{"p":"device.model","v":"miaomiaoce.sensor_ht.t8","vt":"str"},{"p":"property","v":"time","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"get_time","x":120,"y":40,"wires":[["ca1d96b83f562dfc"]]},{"id":"c064a311306de94c","type":"debug","z":"a0f780b0c35f4187","name":"results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":40,"wires":[]},{"id":"ca1d96b83f562dfc","type":"xmihome-device","z":"a0f780b0c35f4187","settings":"e7713296f5f01d59","name":"","device":"device","deviceType":"msg","action":"getProperty","property":"time","propertyType":"str","value":"","valueType":"str","topic":"topic","topicType":"msg","x":290,"y":40,"wires":[["c064a311306de94c"],["b94f791ab204be0a"]]},{"id":"b94f791ab204be0a","type":"debug","z":"a0f780b0c35f4187","name":"events","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":100,"wires":[]},{"id":"e47ac29c059db38c","type":"inject","z":"a0f780b0c35f4187","name":"","props":[{"p":"device.mac","v":"mac","vt":"env"},{"p":"device.model","v":"miaomiaoce.sensor_ht.t8","vt":"str"},{"p":"value.timestamp","v":"$floor($toMillis($now()) / 1000)","vt":"jsonata"},{"p":"value.offset","v":"5","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"set_time","x":120,"y":100,"wires":[["34a6b096d48288d2"]]},{"id":"34a6b096d48288d2","type":"xmihome-device","z":"a0f780b0c35f4187","settings":"e7713296f5f01d59","name":"","device":"device","deviceType":"msg","action":"setProperty","property":"time","propertyType":"str","value":"value","valueType":"msg","topic":"topic","topicType":"msg","x":290,"y":100,"wires":[["c064a311306de94c"],["b94f791ab204be0a"]]},{"id":"e7713296f5f01d59","type":"xmihome-config","name":"ble","debug":true,"connectionType":"bluetooth"}]