packages/node-red/examples/get-multiple-properties.json
[{"id":"2a4aa1361aa7c3d0","type":"inject","z":"86568b32d5bbc323","name":"","props":[{"p":"device.address","v":"address","vt":"env"},{"p":"device.token","v":"token","vt":"env"},{"p":"device.model","v":"xiaomi.derh.lite","vt":"str"},{"p":"property","v":"[{\"siid\":3,\"piid\":1},{\"siid\":3,\"piid\":2}]","vt":"json"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"get_properties","x":140,"y":40,"wires":[["dd9ffedbc976f005"]]},{"id":"dd9ffedbc976f005","type":"xmihome-device","z":"86568b32d5bbc323","settings":"414299e863f23ccf","name":"","device":"device","deviceType":"msg","action":"getProperty","property":"property","propertyType":"msg","value":"","valueType":"str","topic":"topic","topicType":"msg","x":330,"y":40,"wires":[["278c6f2b28360567"],[]]},{"id":"278c6f2b28360567","type":"debug","z":"86568b32d5bbc323","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":40,"wires":[]},{"id":"414299e863f23ccf","type":"xmihome-config","name":"lan","debug":true,"connectionType":"miio"}]