packages/node-red/examples/subscribe-to-events.json
[{"id":"4162cc507b65bf5d","type":"inject","z":"eb8ab75aa7c1552f","name":"","props":[{"p":"device.mac","v":"mac","vt":"env"},{"p":"device.token","v":"token","vt":"env"},{"p":"device.model","v":"yunmi.kettle.v2","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"subscribe_status","x":140,"y":60,"wires":[["25fb5f06c925d8da"]]},{"id":"25fb5f06c925d8da","type":"xmihome-device","z":"eb8ab75aa7c1552f","settings":"e7713296f5f01d59","name":"","device":"device","deviceType":"msg","action":"subscribe","property":"status","propertyType":"str","value":"","valueType":"str","topic":"topic","topicType":"msg","x":320,"y":60,"wires":[["22268897a19d99d1"],["80b5c39835484d59"]]},{"id":"22268897a19d99d1","type":"debug","z":"eb8ab75aa7c1552f","name":"results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":40,"wires":[]},{"id":"80b5c39835484d59","type":"debug","z":"eb8ab75aa7c1552f","name":"events","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":80,"wires":[]},{"id":"e7713296f5f01d59","type":"xmihome-config","name":"ble","debug":true,"connectionType":"bluetooth"}]