packages/node-red/examples/subscribe-to-events.json
[{"id":"e6fc0260ea83e1e4","type":"inject","z":"76124569cf74b70b","name":"","props":[{"p":"device.mac","v":"mac","vt":"env"},{"p":"device.model","v":"xiaomi.scales.ms115","vt":"str"},{"p":"device.user","v":"{\"height\":180,\"gender\":\"male\",\"birthday\":\"1992-05-12\"}","vt":"json"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"measurement","x":130,"y":40,"wires":[["04c3aae27d7a2dbc"]]},{"id":"04c3aae27d7a2dbc","type":"xmihome-device","z":"76124569cf74b70b","settings":"e7713296f5f01d59","name":"","device":"device","deviceType":"msg","action":"subscribe","property":"measurement","propertyType":"str","value":"","valueType":"str","topic":"topic","topicType":"msg","x":300,"y":80,"wires":[["84ceb160820df060"],["69269bc1fb4e5a74"]]},{"id":"e9485420f10f75a4","type":"debug","z":"76124569cf74b70b","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":40,"wires":[]},{"id":"84ceb160820df060","type":"switch","z":"76124569cf74b70b","name":"isStabilized","property":"payload.isStabilized","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":80,"wires":[["6d46bc4ffc5f82cf","e9485420f10f75a4"]]},{"id":"6d46bc4ffc5f82cf","type":"xmihome-device","z":"76124569cf74b70b","settings":"e7713296f5f01d59","name":"","device":"device","deviceType":"msg","action":"unsubscribe","property":"measurement","propertyType":"str","value":"","valueType":"str","topic":"topic","topicType":"msg","x":510,"y":120,"wires":[[],[]]},{"id":"69269bc1fb4e5a74","type":"debug","z":"76124569cf74b70b","name":"events","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":40,"wires":[]},{"id":"e7713296f5f01d59","type":"xmihome-config","name":"ble","debug":true,"connectionType":"bluetooth"}]